@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.mode-line {
	color: white;
	padding: 2px;
	background: #595959;
	border-top: 3px solid #285577;
	-moz-box-align: center;
	overflow: hidden;
}

.mode-line label[value=""] {
  display: none;
}
